.Chessbtn {
    height: 65px;
    width:  60px;
    border-width: 0px;
}

.leftside {
    height: 65px;
    width:  60px;
}

body {
    background: url("../images/background.jpg");
}

.btnClass {
    font-size: 12px;
}

.mydiv {
    position:fixed;
    top: 30%;
    left: 50%;
    width:533px;
    height:540px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    /*margin-top: -9em; !*set to a negative number 1/2 of your height*!*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
.img1 {
    background: url("../images/1.png");
    height: 65px;
    width:  60px;
}
.img2 {
    background: url("../images/2.png");
    height: 65px;
    width:  60px;
}
.img3 {
    background: url("../images/3.png");
    height: 65px;
    width:  60px;
}
.img4 {
    background: url("../images/4.png");
    height: 65px;
    width:  60px;
}
.img5 {
    background: url("../images/5.png");
    height: 65px;
    width:  60px;
}
.img6 {
    background: url("../images/6.png");
    height: 65px;
    width:  60px;
}
.img7 {
    background: url("../images/7.png");
    height: 65px;
    width:  60px;
}
.img8 {
    background: url("../images/8.png");
    height: 65px;
    width:  60px;
}

.bKing {
    background: url("../images/bking.png");
    height: 65px;
    width:  65px;
}
.wKing {
    background: url("../images/wking.png");
    height: 65px;
    width:  60px;
}

.bKing {
    background: url("../images/bking.png");
    height: 65px;
    width:  60px;
}
.wKing {
    background: url("../images/wking.png");
    height: 65px;
    width:  60px;
}


.bKnight {
    background: url("../images/bKnight.png");
    height: 65px;
    width:  60px;
}
.wKnight {
    background: url("../images/wKnight.png");
    height: 65px;
    width:  60px;
}



.bPawn {
    background: url("../images/bPawn.png");
    height: 65px;
    width:  60px;
}
.wPawn {
    background: url("../images/wPawn.png");
    height: 65px;
    width:  60px;
}

.bQueen {
    background: url("../images/bQueen.png");
    height: 65px;
    width:  60px;
}
.wQueen {
    background: url("../images/wQueen.png");
    height: 65px;
    width:  60px;
}


.bTower {
    background: url("../images/bTower.png");
    height: 65px;
    width:  60px;
}
.wTower {
    background: url("../images/wTower.png");
    height: 65px;
    width:  60px;
}

.bBishop {
      background: url("../images/bBishop.png");
      height: 65px;
      width:  60px;
  }
.wBishop {
    background: url("../images/wBishop.png");
    height: 65px;
    width:  60px;
}